---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostItem from "../../components/PostItem.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts", ({ data }) => {
    return data.draft !== true;
  });

  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

// TODO - add description
---

<BaseLayout title={tag}>
  <h1 class="font-extrabold text-2xl">
    #{tag}
  </h1>
  <ul class="block list-disc my-4 pl-10">
    {posts.map((post) => <PostItem frontmatter={post.data} url={"/posts/" + post.slug} />)}
  </ul>
</BaseLayout>
