---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Oops!";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-3xl text-center my-20">Sorry, this page doesn't exist!</h1>
</BaseLayout>
