---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle} />
  <p>I am working through Astro's introductory tutorial.</p>
<BaseLayout />
