---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    This is my site. I'm trying to learn how to use Astro, which has been quite interesting so far.
  </p>
</BaseLayout>
