---
import Social from "./Social.astro";
const today = new Date();
---

<footer class="my-8 p-4 text-center text-neutral-400 text-xs">
  <span> &copy;</span>
  {today.getFullYear()}
  <a href="/" class="text-neutral-400 hover:text-neutral-600">Peter Cheng</a>.
  Built with ❤️ using
  <a
    href="https://astro.build"
    class="text-neutral-400 hover:text-neutral-600">Astro</a
  >.
</footer>
