---
import Social from "./Social.astro";
const today = new Date();
---

<footer class="pb-36"></footer>

<!-- <footer class="flex flex-col items-center justify-center mt-12 pb-8 text-neutral-400 text-xs">
  <div class="mb-2">
    <img src="/assets/favicon.svg" alt="Peter Cheng" class="inline-block w-8 h-8" />
  </div>
  <div>
    <span> &copy;</span>
    {today.getFullYear()}
    <a href="/" class="text-neutral-400 hover:text-neutral-600">Peter Cheng</a>
  </div>
</footer> -->
