---
import NavItem from "./NavItem.astro";
---

<nav class="flex flex-wrap">
  <ul>
    <NavItem title="Home" url="/" />
    <NavItem title="About" url="/about" />
    <NavItem title="Blog" url="/blog" />
  </ul>
</nav>
