---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter, compiledContent } = Astro.props;

const content = compiledContent().replace("/<h1(.*)>(.*)</h1>/", "");

const date = new Date(frontmatter.pubDate);
const englishDate = date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<BaseLayout pageTitle={frontmatter.title}>
  <article
    class="prose prose-sm leading-7 text-neutral-950 max-w-none prose-a:no-underline prose-a:text-penn-red hover:prose-a:underline prose-code:text-sm prose-pre:rounded-md prose-pre:border-solid prose-pre:border-[1px] prose-pre:border-neutral-300"
  >
    <p class="text-neutral-400 text-xs">
      Published on: {englishDate}
    </p>
    <slot />
    <!-- <Fragment set:html={content} /> -->
  </article>
</BaseLayout>
