---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;

const date = new Date(frontmatter.pubDate);
const englishDate = date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<BaseLayout pageTitle={frontmatter.title}>
  <article
    class="prose text-sm max-w-none prose-a:no-underline prose-a:text-dark-red hover:prose-a:underline"
  >
    <p class="text-stone-400 text-sm">
      Published on: {englishDate}
    </p>
    <p><em>{frontmatter.description}</em></p>
    <slot />
  </article>
</BaseLayout>
